/* Stylesheets for the package manager commands */
.YarnManager {
  font-family: 'Source Code Pro', monospace;
  background-color: lightblue;
  color: darkblue;
}
.NpmManager {
  font-family: 'Source Code Pro', monospace;
  background-color: rgb(255, 202, 202);
  color: darkred;
}