.NPMBadge .a {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
}
.NPMBadge .b {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
}
.GitHubBadge .a {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
}
.GitHubBadge .b {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
}
* {
  -webkit-box-sizing: border-box;
}
*::before {
  -webkit-box-sizing: border-box;
}
*::after {
  -webkit-box-sizing: border-box;
}
hr {
  -webkit-box-sizing: content-box;
}
.row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.col {
  -webkit-flex-basis: 0;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
}
.order-1 {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 1;
}
.order-2 {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -webkit-order: 2;
}
@media (min-width:576px) {
  .col-sm-1 {
    -webkit-box-flex: 0 0 8.333333%;
    -moz-box-flex: 0 0 8.333333%;
    -webkit-flex: 0 0 8.333333%;
  }
}
@media (min-width:768px) {
  .col-md-3 {
    -webkit-box-flex: 0 0 25%;
    -moz-box-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
  }
  .col-md-5 {
    -webkit-box-flex: 0 0 41.666667%;
    -moz-box-flex: 0 0 41.666667%;
    -webkit-flex: 0 0 41.666667%;
  }
  .col-md-7 {
    -webkit-box-flex: 0 0 58.333333%;
    -moz-box-flex: 0 0 58.333333%;
    -webkit-flex: 0 0 58.333333%;
  }
  .col-md-9 {
    -webkit-box-flex: 0 0 75%;
    -moz-box-flex: 0 0 75%;
    -webkit-flex: 0 0 75%;
  }
  .order-md-1 {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 1;
  }
  .order-md-2 {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -webkit-order: 2;
  }
}
@media (min-width:992px) {
  .col-lg-6 {
    -webkit-box-flex: 0 0 50%;
    -moz-box-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
  }
}
.btn {
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  -webkit-transition: color .15s ease-in-out , background-color .15s ease-in-out , border-color .15s ease-in-out , box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out , background-color .15s ease-in-out , border-color .15s ease-in-out , box-shadow .15s ease-in-out;
}
@media (prefers-reduced-motion:reduce) {
  .btn {
    -webkit-transition: none;
    -o-transition: none;
  }
}
.btn:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
  -moz-box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
.btn-danger:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(225,83,97,.5);
  -moz-box-shadow: 0 0 0 .2rem rgba(225,83,97,.5);
}
.btn-danger:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(225,83,97,.5);
  -moz-box-shadow: 0 0 0 .2rem rgba(225,83,97,.5);
}
.rounded {
  -webkit-border-radius: .25rem !important;
  -moz-border-radius: .25rem !important;
}
.d-flex {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -webkit-flex !important;
}
.flex-column {
  -webkit-flex-direction: column !important;
}
.flex-shrink-0 {
  -webkit-flex-shrink: 0 !important;
}
.justify-content-center {
  -webkit-justify-content: center !important;
}
.align-items-end {
  -webkit-align-items: flex-end !important;
}
.align-items-center {
  -webkit-align-items: center !important;
}
.align-self-center {
  -webkit-align-self: center !important;
  -ms-grid-row-align: center !important;
}
@supports ((position:-webkit-sticky) or (position:sticky)) {
}
@media print {
  * {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
  *::before {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
  *::after {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
}
.right-column {
  -moz-hyphens: auto;
}
.tm, .tm2 {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -moz-hyphens: none;
}
.hljs {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -moz-hyphens: none;
}
.Manager>span, .yarnManager>span, .npmManager>span {
  -moz-hyphens: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
#BandcampBabylon:hover div {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
}
